$white-1: #fff;
$white-2: #fbf9f9;
$faded-brown:#fff9f7;
$faded-brown-1: #f8e9e2;
$light-brown-1: #f4ddcf;
$light-brown: #fff6de;
$light-brown-0:#FBE9E7;
$light-brown-2: #edc6af;
$light-brown-3: #e4a988;
$light-brown-4: #da8c60;
$brown-1: #d17038;
$brown-2: #c85310;
$brown-3: #a7450d;
$dark-brown-1: #85370b;
$dark-brown-2: #642a08;
$dark-brown-3: #431c05;
$dark-brown-4: #281103;
$shaded-black: #424242;
$shaded-black-1:#212121;
$black-0: #281103;
$black-1: #080301;
$black-2: #2e2e30;
$black-3: #080301;
$ash-0:#EEEEEE;
$ash:#BDBDBD;
$ash-1: #757575;
$ash-2: #626262;
$ash-3: #dadada;
$ash-4: #F7F7F7;
$ash-5:#F5F5F5;
$ash-6:#E8E4E2;
$ash-7:#9E9E9E;
$ash-8: #E3F2FD;
$red-1: #ea2a40;
$light-red-1: #FCC1C1;
$light-green: #E8F5F9;
$gray:#E0E0E0;
$red-1: #ea2a40;
$light-red-1: #FCC1C1;
$light-green-0:#E8F5E9;
$green-0:#81C764;
$green-1: #3eaf7c;
$green-3: #4CAF50;
$green-2: #008080;
$green-4:#4CAF50;
$green-5: #355E3B;
$green-3:#37A955;
$light-green-1: #C8F6DC;
$light-blue-0: #E3F2FD;
$light-blue: #1976D2;
$blue-0: #0D47A1;
$blue-1: #355389;
$blue-2:#1565C0;
$blue-3:#42A5F5;
$light-indigo: #E8EAF6;
$indigo:#3F51B5;
$blue-4:  #64B5F6;
$blue-5:#E3F2FD;
$blue-6:#1E88E5;
$teal-1: #008080;
$light-yellow:#ffefe0;
$light-yellow-1:#FBF5EF;
$yellow-1: #f6c33e;
$yellow-2:#DAA611;
$dark-lemon-1:#6add0e;
$light-indigo:#E8EAF6;
$indigo:#3F51B5;
$main: #FF623C;
$main-1: #FFEAE5;
$main-light: #FFece8;
$main-light-1: #FFF7F5;
$light-blue: #E4F0FF;
$blue: #005EE1;
$light-pink: #FFF6F9;